@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

    background: #d1d5db;
}

/* searching button 
 */


.height{

    height: 20vh;
}

.form{

    position: relative;
}

.form .bi-search{

    position: absolute;
    top:20px;
    left: 16px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
.img-container img{
    height: 250px;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}